@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

section {
  position: relative;
}

.gradient-purple {
  background: linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);
}

.gradient-blue {
  background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
}

.gradient-peach {
  background: linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
}

.gradient-green {
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}


body {
  color: $color_text;
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  position: relative;

  a {
    cursor: pointer;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color_bg_strong;
  }

}

.bg_primary {
  background-color: $color_bg_strong;
}

.btn {
  background-color: $color_bg_strong;
  color: #fff;

  &:hover {
    color: $color_link;
  }
}

section {
  position: relative;

  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;

  h2 {
    font-weight: 900;
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
      color: deeppink;
    }
  }

  h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    color: $color_bg;
  }

}

#site_main {
  padding: 100px 0;
}

#wrapper {
  margin-top: 60px;
}
