#cta {
  padding: 8rem 0;
  background: #242b4b;

  .section-title {
    font-weight: 900;
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
  }

  .section-subtitle {
    margin: 30px 0;
  }

  .cta_bg_1, .cta_bg_2 {
    position: absolute;
    top: 0;
  }

  .cta_bg_1 {
    left: 0;
  }

  .cta_bg_2 {
    right: 0;
  }

}
