#header-nav {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 70px;
  z-index: 99;
  transition: all 0.3s ease 0s;
  background: #fff;
  margin: 0 auto 0;
  max-width: 1200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
  border-radius: 15px;

  &.is-sticky{
    max-width: 100%;
    top: 0;
    position: fixed;
    border-radius: 0;
  }

  .navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      max-width: 40px;
      margin-right: 10px;
    }

    span{
      font-weight: bold;
      color: deeppink;
      margin-right: 5px;

      &:nth-child(2){
        color: #537ABD;
      }
      &:nth-child(3){
        color: #2EB672;
      }
      &:nth-child(4){
        color: #FED14B;
      }
    }
  }

  .navbar-nav {

    .nav-item {
      margin-right: 30px;

      &:hover .nav-link, &.active .nav-link {
        color: deeppink;
      }

      .nav-link {
        padding: 0;
        display: inline-block;
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        color: darkslateblue;

        &.buy-now-btn{
          background: deeppink;
          color: #fff;
          padding: 8px 15px;
        }

      }

      @media (min-width: 991px) {
        .nav-link {
          padding: 10px 0;
        }
      }
    }

  }

}
