#fun-fact {
  padding: 5rem 0;

  .section-title{
    span{
      color: deeppink;
    }
  }

  .fun-fact-box {
    img{
      max-width: 80px;
    }

    .fun-fact-content{
      h5{
        font-size: 32px;
        font-weight: bold;
        color: deeppink;
      }

      h6{
        font-size: 20px;
        font-weight: bold;
        color: deepskyblue;
      }

    }

  }
}
