section{
  position: relative;
}

.gradient-purple {
  background: linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);
}

.gradient-blue {
  background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
}

.gradient-peach {
  background: linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
}

.gradient-green {
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}
