/*----------------------------- Pricing Plan ----------------------------*/
/*-------------------- Our Pricing Two -----------------*/

$rose_gr_bg: linear-gradient( -90deg, rgb(255,182,139) 0%, rgb(255,96,139) 100%);
$p_orange: #ff8618;


.pricing-plan-two{
  background-color: #FAFBFB;
}

.pricing-tab-menu {
  text-align: center;
}

.pricing-tab-menu .nav-wrapper {
  display: inline-block;
  border: 2px solid #ff8a8b;
  background: $rose_gr_bg;
  border-radius: 5px;
}

.color-orange .pricing-tab-menu .nav-wrapper {
  background: $p_orange;
  border-color: $p_orange;
}

.pricing-tab-menu .nav {
  border: none;
}

.pricing-tab-menu .nav-tabs .nav-item {
  margin: 0;
}

.pricing-tab-menu .nav-tabs .nav-item .nav-link {
  border: none;
  width: 160px;
  padding: 0;
  line-height: 48px;
  font-size: 20px;
  border-radius: 0;
  display: block;
  background: #fff;
  color: #000;
}

.pricing-tab-menu .nav-tabs .nav-item .nav-link.active {
  color: #fff;
  background: transparent;
}

.pricing-tab-menu p {
  font-size: 20px;
  padding-top: 30px;
  color: #000;
}

.pricing-plan-two .table-wrapper {
  max-width: 1245px;
  margin: 100px auto 0;
  padding: 0 15px;
}

.pricing-plan-two .table-wrapper .inner-table {
  position: relative;
  padding-left: 300px;
}

.pricing-plan-two .table-wrapper .inner-table .pr-list-text {
  width: 300px;
  position: absolute;
  left: 0;
  top: 230px;
}

.pricing-plan-two .table-wrapper .inner-table .pr-list-text li {
  padding: 25px 0 25px 25px;
  color: #000;
  border-top: 1px solid #E0E9EF;
  border-left: 1px solid #E0E9EF;
}

.pricing-plan-two .table-wrapper .inner-table .pr-list-text li:last-child {
  border-bottom: 1px solid #E0E9EF;
}

.pricing-plan-two .table-wrapper .inner-table .pr-column {
  float: left;
  width: 50%;
  border: 1px solid #E0E9EF;
  border-right: none;
  text-align: center;
}

.pricing-plan-two .table-wrapper .inner-table .pr-column:last-child {
  border-right: 1px solid #E0E9EF;
}

.pricing-plan-two .table-wrapper .pr-column .pr-header {
  padding: 48px 0 39px;
  border-bottom: 1px solid #E0E9EF;
}

.pricing-plan-two .table-wrapper .pr-column .pr-header .price {
  font-size: 42px;
  font-weight: 500;
  line-height: initial;
  color: var(--p-rose);
  background: $rose_gr_bg;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-orange.pricing-plan-two .table-wrapper .pr-column .pr-header .price {
  color: $p_orange;
  background: transparent;
  -webkit-text-fill-color: $p_orange;
}

.pricing-plan-two .table-wrapper .pr-column .pr-header .price span {
  font-size: 18px;
}

.pricing-plan-two .table-wrapper .pr-column .pr-header .title {
  font-family: 'gilroy-semibold';
  font-size: 32px;
  padding: 10px 0 15px;
}

.pricing-plan-two .table-wrapper .pr-column .pr-header .package {
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(35, 61, 99, 0.35);
}

.pricing-plan-two .table-wrapper .pr-column .pr-body li {
  border-bottom: 1px solid #E0E9EF;
  padding: 25px 0;
}

.pricing-plan-two .table-wrapper .pr-column .pr-body li .pr-text {
  font-size: 16px;
  color: #000;
  padding-bottom: 3px;
  display: none;
}

.pricing-plan-two .table-wrapper .pr-column .pr-body li .icon {
  font-size: 16px;
}

.pricing-plan-two .table-wrapper .pr-column .pr-body li .none {
  color: rgba(151, 151, 151, 0.75);
}

.pricing-plan-two .table-wrapper .pr-column .pr-body li .available {
  color: #00e953;
}

.color-orange.pricing-plan-two .table-wrapper .pr-column .pr-body li .available {
  color: $p_orange;
}

.pricing-plan-two .table-wrapper .pr-column .pr-footer {
  padding: 48px 0 45px;
}

.pricing-plan-two .table-wrapper .pr-column .pr-footer p {
  padding-top: 18px;
}

.pricing-plan-two .table-wrapper .inner-table .pr-column .theme-btn {
  position: relative;
  z-index: 1;
  line-height: 48px;
  border-radius: 30px;
  min-width: 180px;
  font-size: 19px;
  text-align: center;
  padding: 0 35px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  border: 2px solid #dfdfdf;
  color: #000;
}

body .theme-btn:hover:before {
  transform: scale(1);
}
body .line-button-two:before {
  background: $rose_gr_bg;
}
body .theme-btn:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  transform: scale(0,1);
  z-index: -1;
}

.pricing-plan-two .table-wrapper .inner-table .pr-column:hover .theme-btn:before {
  transform: scale(1);
}

.pricing-plan-two .table-wrapper .inner-table .pr-column:hover .theme-btn {
  color: #fff;
  border-color: transparent;
}

.pricing-plan-two .shape-one {
  width: 27px;
  height: 27px;
  top: 14%;
  left: 10%;
}

.pricing-plan-two .shape-two {
  width: 15px;
  height: 15px;
  top: 45%;
  right: 5%;
}

.pricing-plan-two .shape-three {
  width: 11px;
  height: 11px;
  bottom: 10%;
  left: 15%;
}

.pricing-plan-two .shape-four {
  width: 25px;
  height: 25px;
  bottom: 0;
  right: 11%;
}
