body.banner-active {
  margin-top: 80px;

  #header-nav.is-sticky{
    top: 80px;
  }
}

.wp-military-bf-banner {
  background-image: url(../images/bf-banner-big.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 350px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid;
  height: 80px;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;

  .banner-heading {
    display: flex;
    align-items: center;
    height: 100%;
    background-image: url(../images/bf-banner-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 50px;
    padding-top: 15px;
    background-position-x: -15px;

    .heading-main {
      color: deeppink;
      font-size: 38px;
      font-weight: 900;
      font-family: 'Nunito', sans-serif;
      position: relative;
      top: -20px;
    }

    .heading-desc {
      font-size: 18px;
      position: relative;
      bottom: -12px;
      left: -130px;
      color: #fff;

      b{
        color: #fb8903;
        font-weight: 900;
      }
    }
  }

  .counter-timer{
    margin-left: -200px;

    .limited-time{
      color: skyblue;
    }
  }

  #timerUpFront{
    color: #fff;
    font-size: 22px;
    display: flex;
    line-height: 1;

    .counter-part{
      display: flex;
      flex-flow: column;
      margin-right: 15px;

      .counter-text{
        margin-top: 3px;
        font-size: 13px;
      }

    }
  }

  .discount-text {
    display: flex;
    flex-flow: column;
    position: relative;
    line-height: 1;
    padding-top: 18px;

    span:first-child, span:last-child {
      position: relative;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
    }

    span:first-child {
      left: -50px;
      top: 2px;
    }

    span:last-child {
      right: -50px;
      bottom: 20px;
    }

    .discount {
      font-weight: 900;
      font-family: 'Nunito', sans-serif;
      font-size: 38px;
      color: #fb8903;

      sup{
        margin-left: -10px;
      }
    }


  }

  .banner-action {
    background: deeppink;
    color: #fff;
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 9px;
    font-size: 16px;
    box-shadow: 0 0 9px -3px #000;
  }

  .close-banner{
    position: absolute;
    color: #fff;
    right: 10px;
    top: 28px;
    border: 1px solid;
    border-radius: 19px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

}
